name: CI/CD Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Docker Login
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_LOGIN }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag sellay2025/app:latest
    - name: Push to docker registry
      run: docker push sellay2025/app:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull docker container
        run: sudo docker pull sellay2025/app:latest
      - name: Delete old docker container
        run: sudo docker rm -f app-container || true
      - name: Run Docker container
        run: sudo docker run -d -p 3333:3333 --name app-container sellay2025/app:latest